astroid==2.3.3
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
codecov==2.0.15
coverage==5.0.3
coveralls==1.10.0
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lorem==0.1.1
mccabe==0.6.1
more-itertools==8.1.0
packaging==20.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
pylint==2.4.4
pyparsing==2.4.6
pytest==5.3.2
pytest-cov==2.8.1
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
urllib3==1.25.7
wcwidth==0.1.8
wrapt==1.11.2
