---
mongo:
  host: "localhost"
  port: 27017
  user: "mongoadmin"
  password: "mongopassword"
  db: "tracker"

flask:
  port: 5000
  secret: "secret"

dev_mode:
  api: true
  testing: true

oidc:
  entry:
    client_secret: ""
    client_id: ""
    server_metadata_url: "" # openid config url
