// app global css in SCSS form

a.std-link {
    color: $primary;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

a.std-link:hover {
    text-decoration: underline;
}

a.text-link {
    color: $green-7;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
}

a.text-link:hover {
    text-decoration: underline;
}
