// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$scilifelab-lime: #A7C947;
$scilifelab-lime75: #BDD775;
$scilifelab-lime50: #D3E4A3;
$scilifelab-lime25: #E9F2D1;

$scilifelab-teal: #045C64;
$scilifelab-teal75: #43858B;
$scilifelab-teal50: #82AEB2;
$scilifelab-teal25: #C0D6D8;

$scilifelab-aqua: #4C979F;
$scilifelab-aqua75: #79B1B7;
$scilifelab-aqua50: #A6CBCF;
$scilifelab-aqua25: #D2E5E7;

$scilifelab-grape: #491F53;
$scilifelab-grape75: #77577E;
$scilifelab-grape50: #A48FA9;
$scilifelab-grape25: #D2C7D4;

$scilifelab-light-gray: #E5E5E5;
$scilifelab-medium-gray: #A6A6A6;
$scilifelab-dark-gray: #3F3F3F;

$primary   : $scilifelab-teal;
$secondary : #26A69A;
$accent    : $scilifelab-aqua;

$dark      : $scilifelab-dark-gray;

$positive  : #21BA45;
$negative  : #C10015;
$info      : $scilifelab-aqua;
$warning   : #F2C037;
